/* Dress Code Style */
#dresscode h4 {
  text-transform: uppercase;
  margin-bottom: 0;
}

/* Countdown */
.americo-center-on-mobile {
  background-position: center;
}


/* RSVP */
.custom-rsvp {
  display: flex;
}

.rsvp-btns {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

#inviteCustomText {
  text-align: center;
}

#inviteCustomText2 {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
#inviteCustomText2 button {
  padding: 0.5rem !important;
  line-height: 0.5rem;
}

#rsvp-confirmed-message {
  text-align: center;
  color: #2E7D32;
  font-size: 20px;
}

#rsvp-declined-message {
  text-align: center;
  color: #E10050;
  font-size: 20px;
}



/* Only one gift */
.owl-stage {
  margin: auto;
}